.home {
    position: relative;
    background: #E8E1E2;
    width: 100%;
    height: 100%;
}
.welcomemessage {
    position: absolute;
    width: 957px;
    height: 79px;
    left: -108px;
    top: 165px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #13476F;
}
.home_box1 {
    position: absolute;
    width: 250px;
    height: 220px;
    left: 3%;
    top: 24%;
    background: #D9D9D9;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    justify-content: center; /* Horizontally center align */
    /* align-items: center; Vertically center align */
}
.home_icons1 {
    width: 180px;
    height: 180px;
    border-radius: 140px;
    margin-top: -2px;
}
.home_button1 {
    position: absolute;
    top : 460px;
    left: 6%;
}

.home_box2 {
    position: absolute;
    width: 260px;
    height: 240px;
    left: 25%;
    top: 24%;
    background: #D9D9D9;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center; 
}

.home_button2 {
    position: absolute;
    top : 460px;
    left: 28%;
}
.home_icons2 {
    width: 180px;
    height: 180px;
    margin-top: 5px;
}
.home_box3 {
    position: absolute;
    width: 260px;
    height: 240px;
    left: 47%;
    top: 24%;
    background: #D9D9D9;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center; 
}

.home_button3 {
    position: absolute;
    top : 460px;
    left: 49%;
}
.home_icons3 {
    width: 170px;
    height: 170px;
    margin-top: 13px;
    margin-left: 15%;
}

.mainheading {
    font-size: 40px;
    font-weight: 700;
    margin: 40px 20px 0px 0px;
    padding: 10px 50px;
    top: 175px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    color: #F18550;
    white-space: nowrap;
}

.subheading {
    top: 270px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    color: #13476F;
    white-space: nowrap;
    padding: 10px 50px;
}

.subheading3 {
    position: absolute;
    top: 25%; /* Adjust the top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #13476F;
    white-space: nowrap;
    text-align: center; /* Center the text */
}

.button-list {
    position: absolute;
    top: 30%; /* Adjust the top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    list-style: none; /* Remove default list styles */
    padding: 0;
}

.button-list li {
    margin-bottom: 30px;
}

.button-style {
    display: block;
    padding: 10px 20px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #F18550;
    border-radius: 100px; /* Adjust border radius as needed */
    cursor: pointer;
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline from text */
    transition: all 0.3s ease;
    display: inline-block; /* Make button inline */
}

.button-style:hover {
    transform: scale(1.05); /* Scale on hover */
    background-color: #ec8e36;
    /* filter: drop-shadow(0 0 2em #61dafbaa); */
}

.extensions {
    font-family: 'Inter', sans-serif;
    color: #13476F;
    margin: 50px;
    background-color: #CAD8D4;
    margin-top:30%;
    position: relative;
    display: flex;
    border-radius: 50px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.weather-container {
    height: 100px;
    width: 600px;
    border-radius: 20px;
}

.poll-container {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    height: 240px;
    width: 350px;
    background-color: #e397a294;
}

.todo-container {
    background-color: #b2b1f979;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 20px; 
    width: 350px;
    margin-top: 3px;
    height: 240px; 
    overflow-x: hidden;
    overflow-y: scroll;
}
.todo-input {
    position: absolute;
    width: 200px;
    height: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 500; */
    border: none;
    background-color: #F0F0F0;
    color: #202121;
    text-align: center;
}
.todo-container li {
    margin-bottom: -10px; /* Adjust the margin as needed */
}
.todo-text {
    justify-content: left;
    /* top: 1%; */
    margin-left: 70%;
    font-size: 13px;
    font-weight: 300;
    overflow: auto;
    font-weight: bold;
    color: #ffffffd9;
    background-color:  #6b69d6d9;
    border-radius: 160px;
    padding-top: 5px; 
    padding-right: 10px; 
    padding-bottom: 5px; 
    padding-left: 10px; 
    transition: border-color 0.3s ease;
}
.todo-text:hover {
    background-color:  #9392f6;
}
.todo-list {
    margin-top: 10px;
    margin-left: -40px;
    justify-content: left;
    font-size: 17px;
    font-weight: 300;
    overflow: auto;

}
.bdays {
    justify-content: left;
    font-size: 17px;
    font-weight: 300;
    overflow: auto;
}

.emp-h2 {
    margin-top: 4px;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 30px;
}

.footer {
    padding: 30px;
}


.announcement-box {
    position: absolute;
    top: 20%; /* Adjust the top position as needed */
    left: 70%; /* Adjust the left position as needed */
    width: 400px; /* Adjust the width as needed */
    padding: 20px;
    background-color: #b4e3ff96;
    border-radius: 10px;
}

.announcement-heading {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #3783bd;
    margin-bottom: 10px;
}

.announcement-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.announcement-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3c8fcfc5;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.announcement-button:hover {
    background-color: #39a9feeb;
}

.announcement-container {
    position: absolute;
    top: 21%; 
    left: 69%; 
    width: 450px; 
    height: 280px; /* Set the fixed height for the container */
    padding: 20px;
    background-color: #b4e3ff96;
    border-radius: 10px;
    overflow-y: scroll; 
}

.announcement-container h2 {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #3783bd;
    margin-bottom: 10px;
}

.announcement-container p {
    justify-content: left;
    margin-top: 8%;
    font-size: 18px;
    font-weight: 500;
}
.announcement-table {
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    /* overflow: auto; */
}

.announcement-table th,
.announcement-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.announcement-table th {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    padding: 8px;
    text-align: left;
    background-color: #3783bd;
}

.announcement-table tbody {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.announcement-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.announcement-table tbody tr:hover {
    background-color: #ddd;
}
.todoremove-button {
    position: absolute;
    font-size: 17px; /* Adjust the font size as needed */
}