
.sup {
    position: relative;
    width: 100%;
    height: 1000px;
    background: linear-gradient(246.77deg, #B5E48C 13.03%, rgba(22, 138, 173, 0.82) 84.31%); /*Linear gradient background*/
   } 

  .sugradient-box {
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 1300px;
    height: 700px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    border-radius: 56px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
/* button type=submit */
button[type="signup-button"] {
    background-color: #F18550;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 250px; 
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    top: 85%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: bold;
    left: 75%;
    transform: translate(-50%, 0%);
    position: absolute;

  } 
  button[type="signup-button"]:hover {
    background-color: #D78B44;
  }
  .first-name
  {
      top: 45%;
      left: 15%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 200px;
      height: 25px;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 14px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      border: none;
      background-color: #F0F0F0;
      color: #000000;
      text-align: left;
  }
  .last-name
  {
      top: 45%;
      left: 35%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 200px;
      height: 25px;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 14px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      border: none;
      background-color: #F0F0F0;
      color: #000000;
      text-align: left;
  }
  .name
  {
      display: block;
      margin-bottom: 10px; /* Add space below each label */
      font-family: 'Inter';
      font-size: 18px;
      color: #fff;
      text-align: left;  
      top: 39%;
      left: 8%;
      transform: translate(-50%, -50%);
      position: absolute;
  }
.signupemail-inp
{
    top: 58%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 462px;
    height: 25px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border: none;
    background-color: #F0F0F0;
    color: #000000;
    text-align: left;
}
.signupemail
{
    display: block;
    margin-bottom: 10px; /* Add space below each label */
    font-family: 'Inter';
    font-size: 18px;
    color: #fff;
    text-align: left;  
    top: 52%;
    left: 8%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.signuppass-inp
{
  top: 71%;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 462px;
  height: 25px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
  text-align: left;
}
.signuppassword {
  display: block;
  margin-bottom: 10px; /* Add space below each label */
  font-family: 'Inter';
  font-size: 18px;
  color: #fff;
  text-align: left;  
  top: 65%;
  left: 9%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.confpass-inp
{
  top: 87%;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 462px;
  height: 25px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
  text-align: left;
}
.confirm-password {
  display: block;
  margin-bottom: 10px; /* Add space below each label */
  font-family: 'Inter';
  font-size: 18px;
  color: #fff;
  text-align: left;  
  top: 81.5%;
  left: 11.5%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.securityQ-inp
{
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 462px;
  height: 25px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
  text-align: left;
}

.security-question {
  display: block;
  margin-bottom: 10px; /* Add space below each label */
  font-family: 'Inter';
  font-size: 18px;
  color: #fff;
  text-align: left;  
  top: 34%;
  left: 61%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.address-inp
{
  top: 48%;
  left: 75%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 462px;
  height: 65px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
  text-align: left;
}
.signupaddress {
  display: block;
  margin-bottom: 10px; /* Add space below each label */
  font-family: 'Inter';
  font-size: 18px;
  color: #fff;
  text-align: left;  
  top: 39.5%;
  left: 58.5%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.dob-inp
{
  width: 130px;
  height: 25px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
  text-align: left;
}
.signupdob {
  display: block;
  margin-bottom: 10px; /* Add space below each label */
  font-family: 'Inter';
  font-size: 18px;
  color: #fff;
  text-align: left;  
  top: 58.5%;
  left: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.dob-picker
{
  top: 65%;
  left: 62.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
 

}
.department-inp
{
  top: 65%;
  left: 83%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 250px;
  height: 25px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
  text-align: left;
}
.department {
  display: block;
  margin-bottom: 10px; /* Add space below each label */
  font-family: 'Inter';
  font-size: 18px;
  color: #fff;
  text-align: left;  
  top: 58.5%;
  left: 76%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.signupage {
  display: block;
  margin-bottom: 10px; /* Add space below each label */
  font-family: 'Inter';
  font-size: 18px;
  color: #fff;
  text-align: left;  
  top:26%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.signupphone {
  display: block;
  margin-bottom: 10px; /* Add space below each label */
  font-family: 'Inter';
  font-size: 18px;
  color: #fff;
  text-align: left;  
  top:26%;
  left: 76.5%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.age-inp
  {
      top: 32%;
      left: 62.5%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 130px;
      height: 25px;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 14px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      border: none;
      background-color: #F0F0F0;
      color: #000000;
      text-align: left;
  }
  .phone-inp
  {
      top: 32%;
      left: 83%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 250px;
      height: 25px;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 14px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      border: none;
      background-color: #F0F0F0;
      color: #000000;
      text-align: left;
  }
  .dropdown-inp {
    top: 78%;
    left: 75%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 500px;
    height: 45px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border: none;
    background-color: #F0F0F0;
    color: #000000;
    text-align: left;
  }
  .encryption-signup {
    display: block;
    margin-bottom: 10px; /* Add space below each label */
    font-family: 'Inter';
    font-size: 18px;
    color: #fff;
    text-align: left;  
    top: 71.5%;
    left: 63.2%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

.signuplogo {
    /* background-image: ('../public/images/Logo.png'); */
    /* width: 234px;
    height: 150px;
    top: 10%; */
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}
    
.signup-title
{
    font-family: 'Inter';
    font-size: 39px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    top: 25%;
    left: 10.6%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.login-link {
  text-align: left;
  margin-top: 205px;
  margin-left: 80px;
  font-size: 14px;
}

.login-link p {
  margin: 0;
}

.login-link a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

.required-signup
{
  color: rgb(255, 255, 255);;
  font-size: 17px;
  font-weight: 520;
  margin-left: 80px;
  margin-top: -8px;
  /* position: fixed; */
  font-family: 'Inter';
}

.required-star::after {
  content: '*';
  color: rgb(255, 255, 255);
  margin-left: 3px; 
  position: fixed;

}

.separator {
 
  /* color: #F18550;
  width: 1px; 
  height: 50%;
  position: absolute; */
  width: 290px;
  height: 0px;
  left: 754px;
 
  margin-top: 12%;

  opacity: 0.5;
  border: 3px solid #F18550;
  transform: rotate(89.99deg);
}

.error-message {
  color: rgb(180, 45, 45);;
  font-size: 12px;
  font-weight: 550;
  margin-top: 14px;
  margin-left: -455px;
  /* position: fixed; */
  font-family: 'Inter';
}

.strong-message {
  color: rgb(180, 45, 45);
  font-size: 12px;
  font-weight: 550;
  margin-top: 110px;
  margin-left: 80px;
  position: relative;
  font-family: 'Inter';
}